$default-color: #fff;

.ant-layout {
  min-height: 100vh;
}

.Header-content {
  color: $default-color;
}

.Conent-main {
  margin: 20px 0;

  .noData {
    text-align: center;
    color: #a09e9e;
  }
}

.ant-layout-footer {
  background: #001529;

  .Footer-content {
    color: $default-color;
    font-size: 14px;
    text-align: center;
  }
}